  <div class="contenedor">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="empresa">
        <h1 class="refri">REFRI</h1>
        <h1 class="fresh">FRESH</h1>
        <img src="../../assets/img/logo.png">
      </div>
      <hr>
      <div class="campos">
        <label>Usuario</label>
        <input type="text" id="usuUsuario" name="usuUsuario" [(ngModel)]="user.usuUsuario" placeholder="Ingrese su usuario" required>
        <p class="error"></p>
        <label>Contraseña</label>
        <input type="password" id="claUsuario" name="claUsuario" [(ngModel)]="user.claUsuario" placeholder="Ingrese su contraseña" required>
        <p class="error"></p>
        <button>Ingresar</button>
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
    </form>
    <div class="pie-de-pagina">
      <p>Todos los derechos reservados a ©REFRIFRESH</p>
    </div>
  </div>