<div class="container">
    <button type="button" class="btn btn-outline-secondary mt-3 " (click)="exitList()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
      </svg>
      Regresar
    </button>
  </div>
<form [formGroup]="frmInformeTecnic" (ngSubmit)="saveInforme()">
    <div class="container">
        <div class="row mb-2 mt-3">
            <div class="col-12 col-md-6">
                <h3>Informe Técnico</h3>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-md-end">
                <div class="me-3">
                    <label for="fechaInfo" class="form-label me-2">Fecha:</label>
                    <input type="text" class="form-control d-inline-block" id="fechaInfo" formControlName="fechaInfo" style="width: 120px;" readonly>
                </div>
                <div>
                    <label for="horaInfor" class="form-label me-2">Hora:</label>
                    <input type="text" class="form-control d-inline-block" id="horaInfor" formControlName="horaInfor" style="width: 80px;" readonly>
                </div>
            </div>
        </div>

        <div class="container mt-3" style="border: 1px solid gray; padding: 10px; border-radius: 5px;">
            <h3>Empresa</h3>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar empresa por Razon social" (input)="searchEnterprisesByRzc($event)" id="searchInput">
                <button type="button" class="btn btn-secondary" (click)="cleanInputEnterprise()">Limpiar</button>
            </div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let enterprise of enterprises" (click)="selectEnterprise(enterprise)">
                    {{ enterprise.rzcEmpresa }}
                </li>
            </ul>
            <input type="text" class="form-control" [value]="selectedEnterprise?.idEmpresa" hidden id="idempresa" formControlName="idEmpresa">
            <div>
                <h6>Seleccionada:</h6>
                <input type="text" class="form-control" [value]="selectedEnterprise?.rzcEmpresa" disabled id="nombreempresa">
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="container mt-3" style="border: 1px solid gray; padding: 10px; border-radius: 5px;">
            <h3>Técnico</h3>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar técnico por nombre" (input)="searchTecnicByTec($event)" id="searchInputs">
                <button type="button" class="btn btn-secondary" (click)="cleanInputTecnic()">Limpiar</button>
            </div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let tecnic of tecnics" (click)="selectTecnic(tecnic)">
                    {{ tecnic.tecTecnico }}
                </li>
            </ul>
            <input type="text" class="form-control" [value]="selectedtecnic?.idTecnico" id="idtecnico" formControlName="idTecnico" hidden>
            <div>
                <h6>Seleccionada:</h6>
                <input type="text" class="form-control" [value]="selectedtecnic?.tecTecnico" id="nombretecnico" disabled>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="container mt-3" style="border: 1px solid gray; padding: 10px; border-radius: 5px;">
            <h3>Máquina</h3>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="nroserie" class="form-label">Nro Serie</label>
                    <input type="text" class="form-control" id="" placeholder="Ingrese Nro de Serie" name="" formControlName="nserieMaquina">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="equipo" class="form-label">Equipo</label>
                    <input type="text" class="form-control" id="" placeholder="Ingrese equipo" name="" formControlName="nomMaquina">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="marca" class="form-label">Marca</label>
                    <input type="text" class="form-control" id="" placeholder="Ingrese marca" name="" formControlName="mcaMaquina">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="modelo" class="form-label">Modelo</label>
                    <input type="text" class="form-control" id="" placeholder="Ingrese modelo" name="" formControlName="modMaquina">
                </div>
                <div class="col-md-12 mb-3">
                    <label for="area" class="form-label">Área/Ubicación</label>
                    <input type="text" class="form-control" id="" placeholder="Ingrese ubicación" name="" formControlName="arubiMaquina">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="voltaje" class="form-label">Voltaje</label>
                    <input type="text" class="form-control" id="" placeholder="Ingrese voltaje" name="" formControlName="voltMaquina">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="amperaje" class="form-label">Amperaje</label>
                    <input type="text" class="form-control" id="" placeholder="Ingrese Amperaje" name="" formControlName="ampMaquina">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="gas" class="form-label">Gas</label>
                    <input type="text" class="form-control" id="" placeholder="Ingrese Gas" name="" formControlName="gasMaquina">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="potencia" class="form-label">Potencia</label>
                    <input type="text" class="form-control" id="" placeholder="Ingrese potencia" name="" formControlName="potMaquina">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="temperatura" class="form-label">Temperatura</label>
                    <input type="text" class="form-control" id="" placeholder="Ingrese temperatura" name="" formControlName="temMaquina">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="presion" class="form-label">Presion</label>
                    <input type="text" class="form-control" id="" placeholder="Ingrese Gas" name="" formControlName="preMaquina">
                </div>
                <div class="col-md-12 mb-3">
                    <label for="otros" class="form-label">Otros</label>
                    <input type="text" class="form-control" id="" placeholder="Ingrese otros" name="" formControlName="otrosMaquina">
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="container mt-3" style="border: 1px solid gray; padding: 10px; border-radius: 5px;">
            <h3>Falla [Estado de la maquina]</h3>
            <div class="form-floating">
                <textarea class="form-control" style="height: 100px" formControlName="fallaInfo"></textarea>
                <label for="floatingTextarea2">Ingrese falla</label>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="container mt-3" style="border: 1px solid gray; padding: 10px; border-radius: 5px;">
            <h3>Observaciones</h3>
            <div class="form-floating">
                <textarea class="form-control" style="height: 100px" formControlName="obserInfo"></textarea>
                <label for="floatingTextarea2">Ingrese observación</label>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="container mt-3" style="border: 1px solid gray; padding: 10px; border-radius: 5px;">
            <h3>Recomendaciones</h3>
            <div class="form-floating">
                <textarea class="form-control" style="height: 100px" formControlName="recoInfo"></textarea>
                <label for="floatingTextarea2">Ingrese recomendaciones</label>
            </div>
        </div>
    </div>
</form>
<div class="container mt-1">
    <div class="container mt-3 p-3 border border-gray rounded">
        <h3>Firmar cliente</h3>
        <div class="row">
            <div class="col-12 col-md-6 text-center">
                <canvas #canvas class="border border-dark w-100"
                        (touchstart)="startDrawing($event)" 
                        (touchmove)="moved($event)" 
                        height="100">
                </canvas>
            </div>
            <div *ngIf="!signatureNeeded" class="col-12 col-md-6 text-center mt-3 mt-md-0" id="imgCliente">
                <h5>Firma preestablecida</h5>
                <img [src]="signatureImg" alt="Firma" class="img-fluid" />
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-secondary me-2" (click)="clearPad()">Limpiar</button>
            <button class="btn btn-primary" (click)="savePad()">Guardar firma</button>
        </div>
    </div>
</div>

<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary" (click)="saveInforme()" [disabled]="!frmInformeTecnic.valid">Registrar</button>
        </div>
    </div>
</div>